:root {
    --background-main: rgba(30, 37, 43, 1);
}

body {
    background-color: var(--background-main);
    font-family: "Poppins";
}

.container {
    max-width: 1224px;
    margin: 0 auto;
}

.header-content-wrap {
    display: flex;
}

.header {
    padding-top: 38px;
    padding-bottom: 58px;
}

.nav-list {
    width: 431px;
    height: 24px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.nav-list-item:nth-child(2)::after {
    display: block;
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("../images/chevron-down.svg");
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-left: 3px;
}

.nav-list-item:nth-child(2) {
    display: flex;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo-link {
    display: flex;
    width: 130.744px;
    align-items: center;
    gap: 21.37px;
    margin-right: auto;
}

.login-list {
    width: 203px;
    display: flex;
    gap: 41px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.logo-link-span {
    color: rgba(255, 255, 255, 0.90);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav-list-link {
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.login {
    color: rgba(255, 255, 255, 0.78);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: transparent;
}

.sign-up {
    color: #FDF5FF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 118px;
    height: 48px;
    border-radius: 8px;
    background-color: rgba(255, 110, 48, 1);
}

.hero {
    background-image: url("../images/illustration.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
}

.hero-title {
    padding-top: 46px;
    color: rgba(255, 255, 255, 0.90);
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    width: 600px;
    margin-bottom: 30px;
}

.hero-title > span {
    color: #FF6E30;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.hero-desc {
    width: 487px;
    color: rgba(255, 255, 255, 0.55);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-bottom: 60px;
}

.hero-form {
    display: flex;
    width: 502px;
    height: 68px;
    background-image: url("../images/rectangle-314.png");
    background-repeat: no-repeat;
    border-radius: 15px;
    align-items: center;
    margin-bottom: 110px;
}

.hero-form-btn {
    width: 130.435px;
    height: 48px;
    border-radius: 8px;
    background: #FF6E30;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: auto;
    margin-right: 11.04px;
}

.hero-form-input {
    width: 275px;
    height: 30px;
    color: rgba(255, 255, 255, 0.38);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    margin-left: 13.04px;
}

.hero-form::before {
    display: block;
    content: "";
    width: 24.08px;
    height: 24px;
    background-image: url("../images/search.svg");
    margin-left: 18.06px;
}

.hero-medias {
    display: flex;
    gap: 8px;
    
}

.hero-medias-link {
    display: flex;
    width: 58px;
    height: 58px;
    justify-content: center;
    align-items: center;
}

.hero-medias-img {
    width: 36px;
    height: 36px;
}

.tools {
    padding: 200px 0;
}

.tools-title {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.tools-desc {
    display: block;
    width: 427px;
    margin-top: 25px;
    color: rgba(255, 255, 255, 0.55);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 166.667% */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 110px;
}

.tools-list {
    width: 1224px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 24px;
    row-gap: 100px;
}

.tools-list-img {
    width: 65px;
    height: 63.823px;
}

.tools-list-short-desc {
    display: flex;
    gap: 30px;
}

.tools-list-title {
    color: rgba(255, 255, 255, 0.78);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 0.2s;
}

.tools-list-pay {
    color: rgba(255, 165, 55, 0.55);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.2s;
}

.tools-list-item {
    flex-basis: calc((100% - 124px) / 3);
    padding: 33px;
    transition: 0.2s;
}

.tools-list-item:hover {
    transform: translate(1px, -20px);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/rectangle-5.png");
}

.tools-list-item:hover .tools-list-title {
    color: rgba(255, 255, 255, 0.90);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tools-list-item:hover .tools-list-pay {
    color: #FFA537;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tools-list-item:hover .tools-list-desc {
    color: rgba(255, 255, 255, 0.78);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}

.tools-btn {
    display: block;
    width: 184px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: #1E252B;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    color: #FF6E30;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tools-list-desc {
    color: rgba(255, 255, 255, 0.55);
    width: 326px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    margin: 30px 0;
    transition: 0.2s;
}

.tools-action-bar {
    display: flex;
}

.tools-action-visit {
    margin-left: auto;
    width: 106px;
    height: 42px;
    border-radius: 8px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.55);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.2s;
}

.tools-action-visit:hover {
    background-color: #FF6E30;
    color: #FFF;
}

.tools-action-list {
    display: flex;
    gap: 12px
}

.tools-action-item {
    display: flex;
    width: 42px;
    height: 42px;
    justify-content: center;
    align-items: center;
}

.tools-action-btn {
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
}

.folder {
    background-image: url("../images/eva-folder-add-outline.svg");
}

.like {
    background-image: url("../images/flat-color-icons-like.svg");
    transition: 0.2s;
}

.like:hover {
    background-image: url("../images/flat-color-icons-like-two.svg");
    border-radius: 8px;
    background-color: #283036;
    box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
}

.brands-title {
    text-align: center;
    color: rgba(255, 255, 255, 0.80);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.brands-wrap {
    /* width: 1224px; */
    /* height: 253px; */
    background-image: url("../images/rectangle-308.png");
    background-repeat: no-repeat;
    padding-top: 55px;
    padding-bottom: 60px;
}

.brands-list {
    display: flex;
    margin-top: 55px;
    justify-content: center;
    gap: 107px;
}
